## List Constructor

In [ ]:
-> purpose of list() constructor is to create a new list from iteration
->syntax:
        new_list=list(iterable)

In [1]:
# Example
l1="ajhagsah@%&123"
list(l1) # creating a new list

['a', 'j', 'h', 'a', 'g', 's', 'a', 'h', '@', '%', '&', '1', '2', '3']

## list functions/methods

## 1. append()

In [ ]:
-> adds an item to the end of the list
-> syntax:
        List.append(item)

In [2]:
# Example
fruits=["apple","banana"]
fruits.append("kiwi")
print(fruits)

['apple', 'banana', 'kiwi']

In [11]:
var1=[1,2,3]
var2=[4,5,6]    # this will be considered as single item
var3=var1.append(var2)
print(var1)
print(len(var1))

[1, 2, 3, [4, 5, 6]]
4

In [15]:
# write a program tp filter out odd and even numbers from the list, create two lists containing odd and even numbers.
ls=[12,4,23,56,67,87,87,98]
odd_list=[]
even_list=[]
for i in ls:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
print("Even List is ",even_list)
print("Odd List is ",odd_list)

Even List is  [12, 4, 56, 98]
Odd List is  [23, 67, 87, 87]

## 2. extend()

In [16]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)
print(len(list1))

[1, 2, 3, 4, 5, 6]
6

## 3. insert()

In [ ]:
-> when we want to add an item at a particular index
-> it only adds that item at particular index but not delete or remove the already existing item
-> syntax:
        List.insert(index,item)

In [17]:
# Example
list1=[10,20,40]
list1.insert(-1,30)
print(list1)

[10, 20, 30, 40]

## 4. remove()

In [18]:
list1=[1,2,3,4,4,5,6]
list1.remove(4)
print(list1)

[1, 2, 3, 4, 5, 6]

In [21]:
# remove item "Math" from the list
list1=['Phy','Che','Math','Eng','Bio']
val='Math'
if val in list1:
    list1.remove(val)
    print("Item deleted")
else:
    print("Item not found")
print(list1)

Item deleted
['Phy', 'Che', 'Eng', 'Bio']

## 5. pop()

In [ ]:
-> removes and returns the item at the index (default: last item)
-> syntax:
        List.pop()

In [34]:
# Example
list1=[1,2,3,4,5,6]
list1.pop()
print(list1)

[1, 2, 3, 4, 5]

## 6. clear()

In [ ]:
-> it will clear all the items in the list

In [39]:
# Example
list1.clear()  # clears all items in the list
list1

[]

## 7. del keyword

In [ ]:
-> deletes particular item in the list

In [1]:
list1=['a','b','c','d','e']
del list1[3]
list1

['a', 'b', 'c', 'e']

## 8. sort()

In [2]:
-> sorts the list in ascending or descending order
-> syntax:
         list.sort() # for ascending order
         list.sort(reverse=True) # for descending order

In [7]:
list1=[1,3,2,0,4]
list1.sort() # Ascending order
print(list1) 
list1.sort(reverse=True)  # Descending order
print(list1)

[0, 1, 2, 3, 4]
[4, 3, 2, 1, 0]

## 9. reverse()

In [ ]:
-> reverses the list in place
-> syntax:
        List.reverse()

In [9]:
# Example
list1=['r','a','t','n','a']
list1.reverse()
print(list1)

['a', 'n', 't', 'a', 'r']

## 10. index()

In [ ]:
-> returns the index of the first occurence of item
-> syntax:
        List.index(item)

In [10]:
# Example
list1=['r','a','t','n','a']
list1.index('a')

1

## 11. count()

In [ ]:
-> returns the number of times item appears in the list
-> syntax:
        List.count(item)

In [11]:
# Example
list1=[10,20,30,20,50,20]
list1.count(20)

3

## Built-in functions with examples

In [ ]:
-> len,min,max,sum,sorted,reversed,sum

## 1. len(list)

In [ ]:
-> returns the length of the list
-> syntax:
        len(list_name)

In [12]:
list1=[10,20,30,40,50]
print(len(list1))

5

## 2. sorted(iterable)

In [ ]:
-> returns a new sorted list from the items in the iterable
(doesn't modify the original list)
-> syntax:
        sorted(list_name)

In [13]:
# Example
list1=[2,4,3,1,9,7,8,4]
sorted_list=sorted(list1)
print(list1)
print(sorted_list)

[2, 4, 3, 1, 9, 7, 8, 4]
[1, 2, 3, 4, 4, 7, 8, 9]

## 3. sum(list)

In [1]:
# Example
list1=[1,2,3,4]
sum(list1)

10

## 4. min(list)

In [2]:
# Example
list1=[10,2,4,9,1]
min(list1)

1

## 5. max(list)

In [3]:
# Example
lsit1=[1,10,4,9,2]
max(list1)

10

## Nested list

In [ ]:
-> list inside list

In [4]:
# Example
list1=[1,2,[3,4]]
len(list1)

3

In [5]:
# slicing
list1=[1,2,[3,4],5]
list1[2][1]

4