In [ ]:
-> str: immutable, ordered,duplicates allowed, '',""
-> list: mutable,ordered,duplicates allowed, []
-> tuple: immutable,ordered,duplicates allowed, ()
-> set: mutable,unordered,duplicates not allowed,indexing not allowed, set(),{}
-> frozenset: immutable version of set,unordered, duplicates not allowed, indexing not allowed, frozenset(),{}

## Dictionary

In [ ]:
-> ordered collection of data key-value pairs
-> each key in dictionary must be unique and immutable(like str,numbers,tuples), while corresponding value can be of any datatype
-> defined by enclosing key-value pairs by curly braces{}.
-> each pair separated by colon : and the the pairs themselves are separated by comma ,

In [ ]:
dict1={"Ratna":22,"Mani":24,"Sai":18}
keys -> Ratna,Mani,Sai
values -> 22,24,18

In [ ]:
Properties:
  -- mutable
  -- collection of key and value pairs
  -- cannot use indexing
  -- duplicate values are allowed
  -- duplicate keys are not allowed
  -- enclosed by {},pairs are separated by ,
  -- ordered
-> keys : int,float,str,complex,tuple,frozenset(immutable data type)
-> values: int,float,str,complex,tuple,frozenset,set,list,dict

In [2]:
# Example
dict1={1:"R",2:"a",3:"t",4:"n",5:"a"}
print(dict1)
type(dict1)

{1: 'R', 2: 'a', 3: 't', 4: 'n', 5: 'a'}

dict

In [6]:
dict1={1:"R",2:"a",3:"t",3:"n",5:"a"}
print(dict1) # doesn't allow duplicates in keys
type(dict1)

{1: 'R', 2: 'a', 3: 'n', 5: 'a'}

dict

## How to access items from dictionary:

In [ ]:
-> we have to use keys to access the values

In [8]:
dict1={'A':100,'B':200,'C':300,'D':400}
print(dict1['A'])
type(dict1['A'])

100

int

In [9]:
dict1={'A':100,'B':200,'C':300,'D':400}
dict1[0] # indexing is not allowed, it shows error

KeyError: 0

## Functions in dictionary

In [ ]:
-> .get()

## 1. .get(key,default=None)

In [ ]:
-> returns the value for the specified key

In [11]:
# Example
dict1={"name": "ratna","age":22}
print(dict1.get("name"))
print(dict1.get("age"))

ratna
22

## 2. .keys()

In [ ]:
-> returns a view object that displays a list of all the keys in the dictionary
-> if we make changes in the original dictionary then view will also change

In [13]:
# Example
dict1={"name": "ratna","age":22}
keys=dict1.keys()
print(keys)
print(list(keys))

dict_keys(['name', 'age'])
['name', 'age']

## 3. .values()

In [ ]:
-> returns a view object that displays a list of all the values in the dictionary

In [15]:
# Example
dict1={"name": "ratna","age":22}
values=dict1.values()
print(values)
print(list(values))

dict_values(['ratna', 22])
['ratna', 22]

## 4. .items()

In [ ]:
-> returns a view object that displays a list of all the key-value pairs as tuples

In [17]:
# Example
dict1={"name": "ratna","age":22}
items=dict1.items()
print(items)
print(list(items))

dict_items([('name', 'ratna'), ('age', 22)])
[('name', 'ratna'), ('age', 22)]

In [18]:
# Example of get(),keys(),values(),items()
dict1={"name": "ratna","age":22,"city":"Bengaluru"}
print(dict1.get("name"))
print(dict1.keys())
print(dict1.values())
print(dict1.items())

ratna
dict_keys(['name', 'age', 'city'])
dict_values(['ratna', 22, 'Bengaluru'])
dict_items([('name', 'ratna'), ('age', 22), ('city', 'Bengaluru')])

## 5. .update()

In [ ]:
-> it updates all the values in the dictionary

In [21]:
# Example
dict1={}
dict2={4:16,5:25,6:36}
print("Original dictionary: ",dict1)
dict1.update(dict2)
print("After updating: ",dict1)

Original dictionary:  {}
After updating:  {4: 16, 5: 25, 6: 36}

In [23]:
# Another way
dict1={"name": "ratna","age":22}
dict1.update({"city":"Bengaluru"})
print(dict1)

{'name': 'ratna', 'age': 22, 'city': 'Bengaluru'}

## 6. .fromkeys()

In [ ]:
-> This method is a quick way to create a new dictionary where all keys have the same initial value
-> Synatx:
      dict.fromkeys(keys,values)

In [32]:
# Example
user_data_keys=["name","email","phone"]
dict1=dict.fromkeys(user_data_keys,0)
dict1

{'name': 0, 'email': 0, 'phone': 0}

## 7. zip()

In [ ]:
-> used to pair up items from two or more lists
-> it is useful for creating a dictionary when you have keys in one list 
    and values in another
-> it zips two lists together, pairing first item of first list 
    with the first item of the second list and so on

In [33]:
# Example
keys_list=["name","age","city"]
values_list=["ratna",22,"bengaluru"]
combined_dict=dict(zip(keys_list,values_list))
combined_dict

{'name': 'ratna', 'age': 22, 'city': 'bengaluru'}

## Nested Dictionary

In [ ]:
-> Dict in dict

In [38]:
emp_details={'1':{"Name":"Ratna",
             "Age":22,
             "Designation":"Full stack developer",
             "Location":"Bengaluru"},
             '2':{"Name":"Anjitha",
             "Age":21,
             "Designation":"Data Analytics",
             "Location":"Kundanahalli"}}
emp_details['1']['Name']

'Ratna'

In [39]:
emp_details['2']['Location']

'Kundanahalli'

## How to delete items from dictionary

In [ ]:
--pop()
--popitem()
--clear()
--del keyword

## 1. .pop()

In [ ]:
-> removes element with specified key

In [24]:
# Example for pop()
emp_details={"Name":"Ratna",
             "Age":22,
             "Designation":"Full stack developer",
             "Location":"Bengaluru"}
emp_details.pop('Location')
emp_details

{'Name': 'Ratna', 'Age': 22, 'Designation': 'Full stack developer'}

## 2. .popitem()

In [ ]:
-> used to remove/delete the last inserted item

In [25]:
# Example
emp_details={"Name":"Ratna",
             "Age":22,
             "Designation":"Full stack developer",
             "Location":"Bengaluru"}
emp_details.popitem() # removes last item (key-value)
emp_details

{'Name': 'Ratna', 'Age': 22, 'Designation': 'Full stack developer'}

## 3. .clear()

In [ ]:
-> used to remove all element from dictionary

In [26]:
# Example
emp_details={"Name":"Ratna",
             "Age":22,
             "Designation":"Full stack developer",
             "Location":"Bengaluru"}
emp_details.clear() # clears all the key-value pairs
emp_details

{}

## 4. del keyword

In [ ]:
-> used to delete whole variable and also key-value pairs

In [27]:
# Example
emp_details={"Name":"Ratna",
             "Age":22,
             "Designation":"Full stack developer",
             "Location":"Bengaluru"}
del emp_details
emp_details #we already deleted the dictionary earlier so that's why it is showing error

NameError: name 'emp_details' is not defined

In [29]:
# create empty dictionary named my_info. then add key-value pairs "name":"ratna" and "age":24 to it. Print the dictionary.
my_info={}
my_info.update({"name":"ratna","age":22})
print(my_info)

{'name': 'ratna', 'age': 22}