## List comprehension

In [ ]:
-> is a compact, readable way to create lists by applying expression to each item in an iterable
   (ex: list,string,range)
-> syntax:
        [expression for item in iterable if condition]
-> expression -- operation applied to each item

In [1]:
# Example
list1=[1,2,3,4]
sqr_list=[]
for i in list1:
    sqr_list.append(i)
print(sqr_list)  #we can write this code in 1 single line like "[expression for item in iterable if condition]"

[1, 2, 3, 4]

In [2]:
sqr_list=[i for i in list1]
sqr_list

[1, 2, 3, 4]

In [9]:
# Example of generating squares of numbers from 0 to 9
sqrs=[]
for i in range(0,10):
    sqrs.append(i**2)
print(sqrs)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
# cubes of numbers from 11 to 20
cubes=[i**3 for i in range(11,21)]
print(cubes)

[1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [10]:
squares=[i**2 for i in range(0,11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Tuple

In [ ]:
-> it is an immutable, ordered collection of elements enclosed in parenthesis ().
-> and values are separated by comma (,)
-> once created ,its contents can be modified(no add,del,update)
-> syntax:
       Tuple=()
-> Properties:
   - allows duplicates
   - separated by comma
   - faster than list
   - heterogeneous
   - ordered
   - fixed size
   - Immutable
   - requires less memory

In [11]:
# Example 1. from a list
list1=[1,2,3,4]
Tuple=tuple(list1)
print(Tuple)

(1, 2, 3, 4)

### How to access the elements from tuple

In [ ]:
-> use indexing (like lists on;y)

## Tuple functions/methods

In [ ]:
-> count(),index()

## 1. count(item)

In [12]:
my_tuple=(1,2,3,4,2)
my_tuple.count(2)

2

## 2. index(item)

In [15]:
my_tuple=(1,2,3,4,3.14,'r')
r=my_tuple.index(3.14)
print(r)

4

In [22]:
# Example
my_tuple=('a','b','c','d','a')
print(my_tuple.count('a'))
print(my_tuple.index('a'))

2
0

## In-built functions

In [ ]:
-> same as list
-> len,min,max,sorted

In [24]:
# example
my_tuple=(1,2,3,4,7,6,5,8,9)
print(len(my_tuple))
print(min(my_tuple))
print(max(my_tuple))
print(sorted(my_tuple))

9
1
9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

## How to update Tuple??

## converting the tuple into list,performing operations, then converting the list into Tuple

In [25]:
my_tuple=(1,2,3,4,5)
List=list(my_tuple)
List.append(6)
my_tuple=tuple(List)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

## Concatenation: combining two or more tuples

In [26]:
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

## shallow copy and deep copy

In [ ]:
-> Shallow copy: creates a new copy,but contents are still linked to original.
                 changes in items does not affect shallow copy
                 changes in the inner items of one,affects the other
-> syntax: List.copy()

In [29]:
list1=[1,2,[3,4]]
c=list1.copy()  # shallow copy
list1[0]=0
c.append(5)
print(c)
list1[2][0]=33
print(list1)

[1, 2, [3, 4], 5]
[0, 2, [33, 4]]

In [ ]:
-> Deep copy: creates a completely independent copies of all the contents
    changes in one do not affect the other.
-> syntax: copy.deepcopy(original_list)
-> we have to import copy

In [4]:
# Example
import copy
list1=[1,2,3,[4,5]]
deep_copy=copy.deepcopy(list1)
list1[0]=0
print("Original list : ",list1)
deep_copy[3][1]=6
print("Deep copy list: ",deep_copy)

Original list :  [0, 2, 3, [4, 5]]
Deep copy list:  [1, 2, 3, [4, 6]]