### length of the string

In [ ]:
-> keyword 'len'

In [1]:
string='python'
len(string)

6

## Slicing

In [ ]:
-> allows us to extract a substring of string by specifying a range of indices 
-> syntax:
         String[start_index(include):end_index(exclude):[step_size]]

In [3]:
str1="python"
print(str1[0:3])
str1[0:3]

pyt

'pyt'

In [4]:
str1="python"
str1[0:6:2] #gives alternate characters

'pto'

In [9]:
# example
str1="This is Python Class"
str1[0:20:1]

'This is Python Class'

In [10]:
str1[0:20:2]

'Ti sPto ls'

In [11]:
str1[0:20:3]

'TssyoCs'

In [12]:
str1[0:20:10]

'Tt'

In [13]:
str1[::1] # another method

'This is Python Class'

In [14]:
str1[::2]

'Ti sPto ls'

# Operators

In [ ]:
-> special symbols or keywords that tells python interpretor to perform some kind of operation on values or variables
-> + - / *

In [ ]:
Arithmetic Operators:
+ Addition
- Subtraction
* Multiplication
/ Division (always return float)
% Modulus (returns the remainder of the division)
** Exponentiation (power)

In [11]:
a=10
b=5
c=a+b # addition
d=a-b # subtraction
e=a*b # multiplication
f=a/b # division
g=a%b # modulo division
h=a**b # power
print(c)
print(d)
print(e)
print(f)
print(g)
print(f)

15
5
50
2.0
0
2.0

In [ ]:
Assignment Operators:
-> used to assign values to variables
= Assign 
+= Add and Assign x+=3-> x=x+3
-= Subt and Assign x-=3-> x=x-3
*=
/=

In [2]:
a=10 # assigning a value
a+=3
print(a)

13

In [19]:
a=10
a-=3
print(a)

7

In [20]:
a=10
a*=3
print(a)

30

In [21]:
a=10
a/=2
print(a)

5.0

In [ ]:
Comparison(Relational) Operators:
-> used to compare two values or variables
-> and returns Boolean (True/False)
==
>=
<=
!=
<
>
!

In [26]:
a=10
b=10
print(a==b)
print(a>=b)
print(a<=b)
print(a<b)
print(a>b)
print(a!=b)

True
True
True
False
False
False

In [ ]:
Logical Operators:
-> used to combine conditional statements
and returns True if both statements are satisfied or true
or returns True if one statement is true or satisfied
not reverses the result, i.e., if result is True it returns as False

In [36]:
a=10
print(a>5 and a<15)
print(a>5 and a>15)
print(a>5 or a<15)
print(a<5 or a>15)
print(not(a))

True
False
True
False
False

In [ ]:
Membership Operators:
-> used to test if a sequence (like string, list, or tuple) has a particular/specified value
in returns True if the particular value is present in the sequence
not in returns True if the particular value is not present in the sequence

In [40]:
str1="Hello! Welcome to Python Class"
print('to' in str1)
print('world' in str1)

True
False

In [45]:
str1="Hello! Welcome to Python Class"
print('world' not in str1)
print('to' not in str1)

True
False

# if else

In [16]:
num=10
if num>0:
    print("The nunber is positive")
else:
    print("The number is not positive")

The nunber is positive

In [1]:
num=-1
if num>0:
    print("The number is positive")
else:
    print("The number is negative")

The number is negative