## String function/Methods

In [ ]:
-> data cleaning
-> feature engineering
-> to extract particular text from data
->

### capitalize()

In [ ]:
-> capitilizes the first character of string (i.e., zero index character)
-> syntax:
      variable_name.capitalize()

In [3]:
string="ratna"
string.capitalize()

'Ratna'

In [2]:
#Example of capitalize()
str1="hello! world"
print(str1.capitalize())

Hello! world

### lower() and upper()

In [ ]:
-> returns lower case string - lower()
-> returns upper case string - upper()
-> syntax:
     variable_name.lower()

In [5]:
str1="RAtNa"
str1.lower()

'ratna'

### title()

-> returns first character of every word in string
-> syntax:
       variable_name.title()

### lstrip() and rstrip()

In [ ]:
-> strip means removing white spaces
lstrip():
-> removes white spaces at the start and returns left strim version string
syntax:
     variable_name.lstrip()

rstrip():
-> removes white spaces at the end and returns right strim version string
syntax:
     variable_name.rstrip()

In [11]:
# example of lstrip() and rstrip()
str1="     Hello"
str2="World     "
print(str1.lstrip())
print(str1.rstrip())
print(str2.lstrip())
print(str2.rstrip())

Hello
     Hello
World
World

### strip()

In [12]:
str1="   This is     Python    Class    "
str1.strip() # strip is combo of lstrip + rstrip

'This is     Python    Class'

### replace()

In [ ]:
-> it will return a string where a substring is replaced with that value 
-> syntax:  
         string.replace(old_substring,new_substring,occurances)
-> occurances is how many we want to replace
-> if we dont give occurences input, by default it replace all the old ones with new characters

In [22]:
str1="AAABBBBCCCCEEEEE"
print(str1.replace("E","D"))
print(str1.replace("E","D",2))

AAABBBBCCCCDDDDD
AAABBBBCCCCDDEEE

In [25]:
# Example
str1="AABBBBCCDD"
s1=str1.replace("B","Z",2) # replacing first 2 characters of B with Z
s2=str1.replace("B","Z")   # replacing all characters of B with Z
print(str1)
print(s1)
print(s2)

AABBBBCCDD
AAZZBBCCDD
AAZZZZCCDD

In [26]:
str1="This is Python class , it is in Besant"
str1.replace(",","and")

'This is Python class and it is in Besant'

### count()

In [ ]:
-> counts the occurance of character in the whole string
-> syntax:
         string.count("character") # we can also give range (start,stop)

In [30]:
str1="This is Python class , it is in Besant"
str1.count("i")

5