### Q1. Write a function to print "Hello, World!".

In [2]:
def greeting():
    print("Hello, World!")
greeting()

Hello, World!

### Q2. Write a function that takes your name as input and prints a greeting message.

In [4]:
def greeting(name):
    print(f"Hello {name}!, Welcome to Python Class")
greeting("Ratna")

Hello Ratna!, Welcome to Python Class

### Q3. Write a function to find the sum of two numbers (take input from user).

In [5]:
def add(a,b):
    print(f"a=={a},b=={b}")
    sum=a+b
    return sum
add(10,20)

a==10,b==20

30

### Q4. Write a function to return the square of a number.

In [7]:
def square(num):
    print(f"Square of {num} is : ",num**2)
square(3)

Square of 3 is :  9

### Q5. Write a function to check if a number is even or odd.

In [9]:
def even_odd(num):
    if num%2==0:
        print(f"{num} is even number")
    else:
        print(f"{num} is odd number")
even_odd(5)

5 is odd number

### Q6. Write a function to find the factorial of a given number.

In [10]:
def factorial(num):
    fact=1
    if num<0:
        print("Factorial does not exist")
    elif num==0:
        print("Factorial of 0 is 1")
    else:
        for i in range(1,num+1):
            fact*=i
        print(f"The factorial of {num} is : ",fact)
factorial(10)

The factorial of 10 is :  3628800

### Q7. Write a function that takes a list and returns the sum of all its elements.

In [15]:
def add_list(list):
    sum=0
    for i in list:
        sum+=i
    return sum
#list=[1,2,3,4]
add_list([1,2,3,4])

10

### Q8. Write a function that takes a list and returns a new list with only even numbers.

In [17]:
def even_list(list):
    even=[]
    for i in list:
        if i%2==0:
            even.append(i)
    return even
even_list([1,2,0,5,4,6,9,3])

[2, 0, 4, 6]

### Q9. Write a function that takes two strings and returns the longer one.

In [22]:
def longer_str(str1,str2):
    if len(str1)>len(str2):
        print(str1)
    else:
        print(str2)
str1="Ratna"
str2="Python class"
longer_str(str1,str2)

Python class

### Q10. Write a function that converts Celsius temperature to Fahrenheit.

In [25]:
def cel_fah(cel):
    print(f"{cel} Celsius")
    fah=((cel)*(9/5))+32
    return (f"{fah} fahrenheit")
cel_fah(10.0)

10.0 Celsius

'50.0 fahrenheit'