### 1.What is type casting? Give an example.

In [ ]:
-> Type casting is used to specify variable type
-> we can convert variable from one datatype to another datatype.
-> int-float,float-int,int-complex,etc...
-> Not all Conversions are possible.

In [3]:
#Example converting int to float
num1=11
num2=float(num1)
print("num1=",num1,type(num1))
print("num2=",num2,type(num2))

num1= 11 <class 'int'>
num2= 11.0 <class 'float'>

## 2.Convert the following:

### a.  "123" to integer.

In [7]:
a="123"
b=int(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

### b. 25 to string.

In [16]:
a=25
b=str(a)
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### c. "3.14" to float.

In [19]:
a="3.14"
b=float(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'float'>

## 3.What error occurs if you try int("abc")? Why? correct it.

In [20]:
a="abc"
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
ValueError occurs.
-> Here we are converting "abc" which is a string to integer.
-> int() only converts a value to integers which means the above string should contain integer values("10","1234",etc)
-> Here "abc" is not a number so it cannot be converted to integer.

## 4.How do you create a multi-line string in Python?

In [22]:
# Multi line string can be created using """ or '''
str1='''creating multi-line string
in Python in Jupyter notebook'''
print(str1)

creating multi-line string
in Python in Jupyter notebook

## 5.How do you include a quote inside a string?

In [23]:
# we can use escape character to include a quote inside a string(backslash-> '\')
str1='Including a \"quote\" inside a string'
print(str1)

Including a "quote" inside a string

## 6. Convert price = "99.99" to a float.

In [26]:
price="99.99"
price_f=float(price)
print(type(price))
print(type(price_f))

<class 'str'>
<class 'float'>

## 7. Create a string: I'm learning "Python" use escape charachers to print

In [35]:
str1=""" I'm learning \"Python\"""" #here we used escape character \"___\"
print(str1)

 I'm learning "Python"

In [36]:
str2=''' I\'m learning \"Python\"''' #here we used escape characters \' and \"___\"
print(str2)

 I'm learning "Python"

## 8.what is raw string? what is its use?

In [37]:
-> Raw string is used to give file path
#path = r"C:\\Users\\Documents\\file.txt"