### Q1. Create a dictionary of 5 students with their marks. Print the dictionary.

In [1]:
student_marks={"student1":10,"student2":20,"student3":30,"student4":40,"student5":50}
print(student_marks)

{'student1': 10, 'student2': 20, 'student3': 30, 'student4': 40, 'student5': 50}

### Q2. Access the value of a specific key from a dictionary.

In [2]:
print(student_marks["student1"])

10

### Q3. Add a new key–value pair in the dictionary.

In [3]:
student_marks.update({"student6":60})
print(student_marks)

{'student1': 10, 'student2': 20, 'student3': 30, 'student4': 40, 'student5': 50, 'student6': 60}

### Q4. Update the value of an existing key in the dictionary.

In [4]:
student_marks.update({'student6':50})
print(student_marks)

{'student1': 10, 'student2': 20, 'student3': 30, 'student4': 40, 'student5': 50, 'student6': 50}

### Q5. Remove a key–value pair from the dictionary using pop().

In [6]:
student_marks.pop('student6')
print(student_marks)

{'student1': 10, 'student2': 20, 'student3': 30, 'student4': 40, 'student5': 50}

### Q6. Get all keys of a dictionary using .keys() function.

In [7]:
keys=student_marks.keys()
print(keys)

dict_keys(['student1', 'student2', 'student3', 'student4', 'student5'])

### Q7. Get all values of a dictionary using .values() function.

In [8]:
values=student_marks.values()
print(values)

dict_values([10, 20, 30, 40, 50])

### Q8. Get all key–value pairs from a dictionary using .items().

In [9]:
items=student_marks.items()
print(items)

dict_items([('student1', 10), ('student2', 20), ('student3', 30), ('student4', 40), ('student5', 50)])

### Q9. Check if a given key exists in the dictionary.

In [11]:
key="student3"
if key in student_marks:
    print(f"{key} exists in the dictionary")
else:
    print(f"{key} does not exist in the dictionary")

student3 exists in the dictionary

### Q10. Create a dictionary and print only keys using a loop.

In [17]:
dict1={"Name":"Ratna","Age":22,"City":"Bengaluru"}
for key in dict1.keys():
    print(key)

Name
Age
City

### Q11. Create a dictionary and print only values using a loop.

In [16]:
dict1={"Name":"Ratna","Age":22,"City":"Bengaluru"}
for values in dict1.values():
    print(values)

Ratna
22
Bengaluru

### Q12. Merge two dictionaries.

In [18]:
dict1={'A':1,'B':2,'C':3}
dict2={'D':4,'E':5,'F':6}
dict1.update(dict2)
print(dict1)

{'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

### Q13. Write a program to find the key with the maximum value in a dictionary.

In [22]:
dict1={'A':1,'B':3,'C':21,'D':14,'E':5}
max_key=max(dict1,key=dict1.get)
print(max_key)

C

### Q14. Create a nested dictionary and access the inner dictionary value.

In [23]:
nested_dict={'1':{"Name":"Ratna",
                  "Age":22,
                  "City":"Bengaluru"},
             '2':{"Name":"Chitti",
                  "Age":23,
                  "City":"Kundanahalli"}}
nested_dict['2']['City']

'Kundanahalli'

### Q15. Create two lists: one with names and one with marks. Use zip() to combine them into a dictionary.

In [26]:
list1=['Ratna','Sunitha','Bhavana']
list2=[20,30,40]
combined_dict=dict(zip(list1,list2))
combined_dict

{'Ratna': 20, 'Sunitha': 30, 'Bhavana': 40}

### Q16. Create a dictionary using fromkeys() with a list of keys and the same default value.

In [27]:
keys=["Ratna","Bhavana","Sunitha"]
dict1=dict.fromkeys(keys,0)
dict1

{'Ratna': 0, 'Bhavana': 0, 'Sunitha': 0}